language: go

go:
  - 1.5

sudo: false

env:
  global:
    - CODECOV_TOKEN=df85e862-606b-493c-b266-e2d895c3c697

before_install:
  # install services and extra binaries
  - make requirements
  # back to build path
  - cd $TRAVIS_BUILD_DIR
  # enforcing ssh on go gets
  - git config --global url."git@github.com:".insteadOf "https://github.com/"
  # codecov
  - pip install --user codecov


install:
  - make dependencies

script:
  - make test-coverage

before_deploy:
  - make packages

after_success:
  - codecov

deploy:
  provider: releases
  api_key: 08763897c930b3ff7f7cebf8da45935350a96b7d
  file:
    - build/rovers_${TRAVIS_TAG}_darwin_amd64.tar.gz
    - build/rovers_${TRAVIS_TAG}_linux_amd64.tar.gz
  skip_cleanup: true
  on:
    tags: true
